{{/* Global Person Schema */}}

{{/* Define Person variables */}}
{{ $name := .Site.Params.Author }}
{{ $url := .Site.Params.url | default .Site.BaseURL }}
{{ $social := .Site.Params.sameAs }}
{{ $bio := .Site.Params.authorDescription }}
{{ $image := printf "%simages/chema-hernandez-gil-profile-photo-home-2025-600x600.webp" $url }}

{{/* Create Person Schema        */}}
{{/* TO DO: MOVE NAMES TO CONFIG */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "url": "{{ .Permalink }}",
  "mainEntity": {
	  "@type": "Person",
	  "name": {{ $name | jsonify }},
	  "description": {{ $bio | jsonify }},
	  "alternateName": "José María Hernández Gil",
	  "givenName": "Chema",
	  "familyName": "Hernández Gil",
	  "jobTitle": "Political Organizer",
	  "alumniOf": {
		"@type": "EducationalOrganization",
		"name": "École Polytechnique Fédérale de Lausanne (EPFL)"
	  },
	  "knowsLanguage": ["en", "es", "fr", "it"],
	  "url": {{ $url | jsonify }},
      "image": {{ $image | jsonify }},
	  "sameAs": [
		{{ range $index, $item := $social }}{{ if $index }}, {{ end }}"{{ $item }}"{{ end }}
	  ],
	  "homeLocation": {
		"@type": "Place",
		"name": "San Francisco, California"
	  }
	}
}
</script>